<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
</head>
<body>
<div class="wrapper">
    <a href="javascript:;" class="x-btn">
        <span>第三方登录</span><br>
        <br>
        <span>redirect_uri: {{ redirect_uri }} <br></span>
        <span>state: {{ state }}</span>

    </a>
</div>
</body>
<script>
    window.onload = function () {
        // 回调链接
        const redirect_uri = '{{ redirect_uri }}';
        // 状态值
        const state = '{{ state }}';
        // 授权链接
        document.querySelector('.x-btn').addEventListener('click',function () {
            window.location.href = `http://localhost:3001/oauth2/authorize?response_type=code&client_id=xc0218ng923jf73&redirect_uri=${encodeURIComponent(redirect_uri)}&scope=get_info&state=${state}`
        },false)
    }
</script>
</html>
