<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>授权登录</title>
</head>
<body>
<div class="wrapper">
    <div class="auth-top-box">
        <div class="company">{{ AppName }}</div>
    </div>
    <div class="auth-info-box">
        <div class="title">请确认授权以下信息</div>
        <div class="desc">获取你的公开信息（昵称，头像等）</div>
    </div>
    <button class="auth-btn">确认授权</button>
</div>
</body>
<script>
	window.onload = function () {
		document.querySelector('.auth-btn').addEventListener('click', function () {
            window.location.href = `/oauth2/authorize_code${location.search}`
		}, false)
	}
</script>
</html>
